.basketList {
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  max-height: 30rem;
  overflow-y: auto;
  padding-right: 1rem;
  scrollbar-color: var(--color-accent) transparent;
  scrollbar-width: thin;
}

.basketEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.basketBottom {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.basketBottomContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.basketInformation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
}

@media (max-width: 48rem) {
  .basketBottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
