.headerLogo{
  width: 27.625rem;
  height: auto;
}

.footerLogo{
  width: 19.5rem;
  height: auto;
}

@media (max-width: 48rem) {
  .headerLogo{
    width: max(14.625rem, 57.55vw);
  }

  .footerLogo{
    width: max(14.625rem, 40.625vw);
  }
}