.categoriesContainer {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 1rem;
  overflow: hidden;
  max-width: calc(100vw - var(--padding-x) - var(--padding-x));
}

.categoriesButtons {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  padding-block: 0.25rem;
  padding-left: 1px;
}

.category {
  padding-inline: clamp(0.875rem, 2vw, 1.5rem);
  padding-block: clamp(0.375rem, 1vw, 0.75rem);
  border-radius: var(--second-border-radius);
  border: none;
  color: var(--color-text-light);
  flex-shrink: 0;
}

.currentCategory {
  color: var(--color-black);
}

.categoryBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.categoryProducts {
  perspective: 1000px;
  transform-style: preserve-3d;
  flex-wrap: wrap;
  display: flex;
  gap: 2rem 0.75rem;
}

.categoryTitle {
  font-size: clamp(1.25rem, 2.66vw, 2rem);
  line-height: 1;
}

.product {
  cursor: pointer;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  max-width: 17.875rem;
  transition: all 0.3s;
  will-change: transform;
}

.productUp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productImage {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: var(--main-border-radius);
  transition: transform 0.3s;
}

.productTitle {
  font-size: clamp(1rem, 1.5vw, 1.125rem);
}

.productDescription {
  line-height: 1.45;
}

.productPrice {
  font-size: clamp(1rem, 1.66vw, 1.25rem);
}

@media (hover: hover) {
  .product:hover {
    transform: translateZ(5px);
    box-shadow: 0 2px 24px rgb(0 0 0 / 15%);
  }
}

@media (max-width: 75rem) {
  .categoryProducts {
    row-gap: 1rem;
  }

  .categoryBlock {
    gap: 1rem;
  }
}
