.categoriesContainer {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 1rem;
  overflow: hidden;
  max-width: calc(100vw - var(--padding-x) - var(--padding-x));
}

.categoriesButtons {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  padding-block: 0.25rem;
  padding-left: 1px;
}

.category {
  padding-inline: clamp(0.875rem, 2vw, 1.5rem);
  padding-block: clamp(0.375rem, 1vw, 0.75rem);
  border-radius: var(--second-border-radius);
  border: none;
  color: var(--color-text-light);
  flex-shrink: 0;
}

.currentCategory {
  color: var(--color-black);
}

.productsLoading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.categoryBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.categoryProducts {
  flex-wrap: wrap;
  display: flex;
  gap: 2rem 0.75rem;
}

.categoryTitle {
  font-size: clamp(1.25rem, 2.66vw, 2rem);
  line-height: 1;
}

@media (max-width: 75rem) {
  .categoryProducts {
    row-gap: 1rem;
  }

  .categoryBlock {
    gap: 1rem;
  }
}
