.points {
  display: flex;
  align-items: center;
}

.profileIcon {
  stroke: var(--color-text-dark);
  fill: transparent;
}

.pointsText {
  font-size: 0.875rem;
  line-height: 1;
  color: var(--color-text-dark);
}

.pointsIcon {
  fill: var(--color-red-accent);
}

@media (hover: hover) {
  .profileLink:hover .profileIcon {
    stroke: var(--color-accent);
  }

  .profileLink:hover .pointsText {
    color: var(--color-accent);
  }

  .profileLink:hover .pointsIcon {
    fill: var(--color-accent);
  }
}

@media (hover: none) {
  .profileLink:active .profileIcon {
    stroke: var(--color-accent);
  }

  .profileLink:active .pointsText {
    color: var(--color-accent);
  }

  .profileLink:active .pointsIcon {
    fill: var(--color-accent);
  }
}
