.headerTopMobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burgerButton{
  height: clamp(1.5rem, 4.67578125vw, 2.244375rem);
  aspect-ratio: 1;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
}

.burgerSpan{
  display: block;
  background-color: var(--color-black);
  border-radius: 1rem;
  height: 2px;
  transition: all var(--main-transition);
  transform-origin: center;
}

.burgerSpan:not(:first-child, :last-child){
  width: 25%;
  margin-block: clamp(0.3125rem, 1.0416vw , 0.5rem);
  margin-left: 25%;
}

.burgerSpan:is(:first-child, :last-child){
  width: 50%;
}

.burgerSpanOpen:not(:first-child, :last-child){
  opacity: 0;
  margin-block: -2px;
}

.burgerSpanOpen:is(:first-child, :last-child) {
  width: 75%;
}

.burgerSpanOpen:first-child{
  rotate: -45deg;
}

.burgerSpanOpen:last-child{
  rotate: 45deg;
}