.mainInput{
  padding-block: clamp(0.5rem, 2.08vw,1rem);
  padding-left: 0.5rem;
  font-size: clamp(1rem, 3.125vw, 1.5rem);
  line-height: 1;
  border: var(--gray-border);
  outline: none;
  caret-color: var(--color-accent);
  color: var(--color-black);
  width: 100%;
  background-color: var(--color-text-white);
}

.passwordInput{
  border: none;
}

.mainInput::placeholder{
  color: var(--color-text-light);
}

.mainInput:-webkit-autofill,
.mainInput:-webkit-autofill:focus,
.mainInput:-webkit-autofill:hover{
  -webkit-text-fill-color: var(--color-black);
}

.mainInput:autofill,
.mainInput:autofill:focus,
.mainInput:hover{
  font-size: clamp(1rem, 3.125vw, 1.5rem);
}

.passwordBlock{
  border: var(--gray-border);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}

.passwordButton{
  padding-inline: 1rem;
  border: none;
  background-color: transparent;
}

.passwordIcon{

}

.submitButton{
  width: clamp(9.5rem, 41.01vw, 19.6875rem);
  height: clamp(3rem, 8.97vw,4.25rem);
  border: none;
  background-color: var(--color-accent);
  color: var(--color-text-white);
  font-size: clamp(1.5rem, 4.16vw, 2rem);
}

.submitButton:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.submitButton:active:enabled{
  scale: 0.98;
}

.isLoading{
  opacity: 0.5;
}

.checkboxContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 0.75rem;
}

.checkboxInput{
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkboxInput:focus-visible + .checkboxSquare{
  outline: 1px solid var(--color-black);
}

.checkboxSquare{
  width: 1.75rem;
  min-width: 1rem;
  aspect-ratio: 1;
  background-color: transparent;
  border: 1px solid var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxIcon{
  fill: var(--color-black);
}

.checkboxText{
  color: var(--color-text-light);
  font-size: clamp(0.75rem, 2.08vw, 1rem);
  line-height: 1.125rem;
}

.checkboxLink{
  color: var(--color-accent);
  text-decoration: underline;
}

.isRed{
  border: 2px solid var(--color-red);
}

@media (hover: hover) {
  .passwordButton:hover .passwordIcon path{
    fill: #35ADE1;
  }
  .submitButton:hover{
    background-color: var(--color-red-accent);
  }
}

@media (hover: none) {
  .passwordButton:active .passwordIcon path{
    fill: #35ADE1;
  }
  .submitButton:active{
    background-color: var(--color-red-accent);
  }
  .checkboxLink:active{
    color: var(--color-text-dark);
  }
}