.basket{
  display: flex;
  position: relative;
}

.basketIcon{
  stroke: var(--color-text-dark);
  fill: transparent;
}

.quantity{
  position: absolute;
  left: 20px;
  top: 0;
  height: 18px;
  width: 25px;
  font-size: 0.8125rem;
  line-height: 1;
  background-color: var(--color-red-accent);
  color: var(--color-text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.375rem;
  border: 1px solid var(--color-text-white);
}

.basketBalance{
  font-size: 0.875rem;
  line-height: 1;
  color: var(--color-text-dark);
}

@media (hover: hover) {
  .basketLink:hover .basketIcon{
    stroke: var(--color-accent);
  }

  .basketLink:hover .basketBalance{
    color: var(--color-accent);
  }

  .basketLink:hover .quantity{
    background-color: var(--color-accent);
  }
}

@media (hover: none) {
  .basketLink:active .basketIcon{
    stroke: var(--color-accent);
  }

  .basketLink:active .basketBalance{
    color: var(--color-accent);
  }

  .basketLink:active .quantity{
    background-color: var(--color-accent);
  }
}