.headerBottomInner{
  display: flex;
  justify-content: space-between;
  background-color: var(--color-text-white);
  align-items: center;
}

.headerBottomButtons{
  column-gap: 0.5rem;
  padding-left: 2rem;
  display: flex;
}