.headerBottom{
  padding-bottom: 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-text-white);
  z-index: 200;
  border-bottom: var(--gray-border);
  min-height: 5rem;
}

.headerBottomInner{
  display: flex;
  justify-content: space-between;
  background-color: var(--color-text-white);
  align-items: center;
}

.headerBottomButtons{
  column-gap: 0.5rem;
  padding-left: 2rem;
  display: flex;
}

@media (max-width: 75rem) {
  .headerBottom{
    display: none;
  }
}