.controlsContainer {
  display: flex;
  align-items: center;
}

.productCount {
  text-align: center;
  width: 3rem;
}

.controlButton {
  font-size: 0.875rem;
  background-color: transparent;
  border: none;
  color: var(--color-black);
  padding: clamp(0.375rem, 0.75vw, 0.5625rem);
}

@media (hover: hover) {
  .controlButton:hover {
    color: var(--color-red-accent);
  }
}
