.product {
  cursor: pointer;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  max-width: 17.875rem;
  transition: all 0.3s;
  will-change: transform;
}

.productUp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productImage {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: var(--main-border-radius);
  transition: transform 0.3s;
}

.productTitle {
  font-size: clamp(1rem, 1.5vw, 1.125rem);
}

.productDescription {
  line-height: 1.45;
}

.productPrice {
  font-size: clamp(1rem, 1.66vw, 1.25rem);
}

@media (hover: hover) {
  .product:hover {
    transform: translateY(-3px);
  }
}
