.footer {
  background-color: var(--color-text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerTop {
  border-block: var(--gray-border);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerBottom {
  text-align: center;
  font-weight: 500;
  font-size: clamp(0.75rem, 1.33vw, 1rem);
  padding-block: 0.75rem;
}

.footerTopInner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-block: clamp(0.75rem, 2vw, 1.5rem);
}

.innerMiddle {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
}

.innerRight {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  align-items: flex-end;
}

.footerLinks {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: clamp(1rem, 2.5vw, 1.875rem);
}

.navigationText {
  font-size: 1.25rem;
  line-height: 1;
  color: var(--color-text-dark);
  margin-bottom: clamp(1rem, 2vw, 1.5rem);
}

.timePhoneContainer {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, 1vw, 0.75rem);
  align-items: center;
}

.middleText {
  font-size: clamp(0.75rem, 1.33vw, 1rem);
  font-weight: 500;
  line-height: 1;
}

.timeOfWork {
  font-size: clamp(1.125rem, 2vw, 1.5rem);
  line-height: 1;
}

.vkIcon {
  width: 32px;
  height: 32px;
}

.vkIcon path {
  stroke: transparent;
  fill: var(--color-accent);
}

.downloadText {
  font-size: clamp(0.75rem, 1.33vw, 1rem);
  font-weight: 500;
  line-height: 1.4;
  text-align: right;
}

.socials {
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5rem;
}

@media (max-width: 75rem) {
  .footerTopInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .innerLeft {
    text-align: center;
    padding-bottom: clamp(0.75rem, 2vw, 1.5rem);
  }

  .footerLinks {
    align-items: center;
    justify-content: center;
    grid-template-columns: auto;
  }

  .innerMiddle {
    padding-block: clamp(0.75rem, 2vw, 1.5rem);
  }

  .innerRight {
    align-items: center;
  }

  .downloadText {
    text-align: center;
  }
}
