.headerTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.headerTopLinks{
  display: flex;
  align-items: center;
}

.headerTopList{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 1.875rem;
}

@media (max-width: 81rem) {
  .headerTopList{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.headerTopList{
  margin-inline: 1.875rem;
  row-gap: 0.5rem;
}

.headerBorder{
  margin-inline: 1rem 1.25rem;
  height: 2.1875rem;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.headerTopLocation{
  display: flex;
}

.headerTopIcon{
  fill: transparent;
}

.headerTopIcon path{
  stroke: var(--color-text-light);
}

.headerPhone{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.25rem;
}

.headerPhoneText{
  font-size: clamp(0.75rem, 0.83vw ,1rem);
  font-weight: 500;
  line-height: 1;
}