.checkboxContainer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 0.75rem;
}

.checkboxInput{
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkboxInput:focus-visible + .checkboxSquare{
  outline: 1px solid var(--color-black);
}

.checkboxSquare{
  width: 1.75rem;
  min-width: 1rem;
  aspect-ratio: 1;
  background-color: transparent;
  border: 1px solid var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxIcon{
  fill: var(--color-black);
}

.checkboxText{
  color: var(--color-text-light);
  font-size: clamp(0.75rem, 2.08vw, 1rem);
  line-height: 1.125rem;
}

.checkboxLink{
  color: var(--color-accent);
  text-decoration: underline;
}

@media (hover: none) {
  .checkboxLink:active{
    color: var(--color-text-dark);
  }
}