.cardsContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.stockCard {
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.stockCardUp {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardShow {
  border: none;
  background-color: transparent;
  color: var(--color-red-accent);
  margin-left: 0.5rem;
}

.cardImage {
  width: 100%;
  border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: var(--main-border-radius);
}

.cardText {
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 0.5rem;
}

@media (hover: hover) {
  .cardShow:hover {
    color: var(--color-accent);
  }
}

@media (hover: none) {
  .cardShow:active {
    color: var(--color-accent);
  }
}

@media (max-width: 63.625rem) {
  .cardsContainer {
    justify-content: center;
  }
}

@media (max-width: 42rem) {
  .stockCard {
    max-width: 100%;
  }
}
