.Button{
  font-size: 0.875rem;
  border-radius: 6.25rem;
  background-color: var(--color-accent);
  border: none;
  color: var(--color-text-white);
  padding-block: clamp(0.375rem , 0.75vw, 0.5625rem);
  padding-inline: clamp(1rem, 2.83vw, 2.125rem);
}

.accent{
  background-color: var(--color-red-accent);
}

.Button:active{
  scale: 0.98;
}

@media (hover: hover) {
  .Button:hover{
    background-color: var(--color-red-accent);
  }
  .accent:hover{
    background-color: var(--color-accent);
  }
}

@media (hover: none) {
  .Button:active{
    background-color: var(--color-red-accent);
  }
  .accent:active{
    background-color: var(--color-accent);
  }
}

.Button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

