.headerModalInner{
  height: 100dvh;
  width: 100%;
}

.modalUp{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.modalDown{

}

.modalUpLocation{
  display: flex;
  align-items: flex-start;
  height: 3.5rem;
  border-block: var(--gray-border);
}

.modalUpLinks{

}

.modalDownPhone{

}

.modalDownSoc1als{

}

.locationIcon{
  fill: transparent;
  padding-top: 0.421875rem;
}

.locationIcon path{
  stroke: var(--color-accent);
}