.headerModalInner{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  overflow-y: scroll !important;
}

.modalUp{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.modalDown{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 2rem;
}

.modalUpLocation{
  display: flex;
  align-items: flex-start;
  height: 3.5rem;
  border-block: var(--gray-border);
  padding-left: 1rem;
}

.modalUpLinks{
  padding-left: 2.875rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.modalDownPhone{
  display: flex;
  align-items: flex-start;
  column-gap: 0.5rem;
  padding-block: 0.75rem 0.5rem;
  border-block: var(--gray-border);
  padding-left: 1.1875rem;
}

.modalDownSoc1als{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.locationIcon{
  padding-top: 0.421875rem;
  fill: transparent;
  stroke: var(--color-accent);
}

.phoneIcon{
  padding-top: 0.1875rem;
  fill: var(--color-accent);
}