.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.headerTopLinks {
  display: flex;
  align-items: center;
}

.headerTopList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 1.875rem;
  margin-inline: 1.875rem;
}

.headerBorder {
  margin-inline: 1rem 1.25rem;
  height: 2.1875rem;
  width: 2px;
  background-color: rgb(0 0 0 / 15%);
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.headerTopLocation {
  display: flex;
}

.headerTopIcon {
  fill: transparent;
}

.headerTopIcon path {
  stroke: var(--color-text-light);
}

.headerPhone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.25rem;
}

.headerPhoneText {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

@media (max-width: 84.5rem) {
  .headerTopList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
  }
}
