.phoneContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  white-space: nowrap;
  row-gap: 0.25rem;
}

.phoneContainerMobile{
  text-align: left;
  align-items: flex-start;
}

.phoneContainerLink{
  white-space: nowrap;
  font-size: clamp(1.125rem, 2vw ,1.5rem);
  line-height: 1;
}

@media (hover: hover) {
  .phoneContainerLink:hover{
    color: var(--color-accent);
  }
}

@media (hover: none) {
  .phoneContainerLink:active{
    color: var(--color-accent);
    transform: scale(0.98);
  }
}
