.wrapper{
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 500;
}

.selectTrigger{
  transition: var(--main-transition);
  cursor: pointer;
  display: flex;
  width: 11rem;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-light);
  text-align: left;
}

.selectArrow{
  transition-duration: var(--main-transition);
  user-select: none;
}

.selectArrowRotate{
  rotate: 180deg;
}

.selectValue{
  font-size: 1.125rem;
  padding-left: 0.5rem;
  transition: var(--main-transition);
}

.selectList{
  white-space: nowrap;
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  top: 100%;
  width: 11rem;
  color: var(--color-text-light);
  background-color: var(--color-text-white);
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 0 0 10px 10px;
}

.selectOption{
  cursor: pointer;
}

/* Mobile */
.selectTriggerMobile{
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.25rem;
}

.selectChangeText{
  font-size: 0.75rem;
  padding-left: 0.5rem;
}

.selectTriggerMobile span{
  color: var(--color-black);
}

.selectListMobile{

}

@media (hover: hover) {
  .selectOption:hover{
    color: var(--color-text-dark);
  }
  .selectTrigger:hover{
    color: var(--color-text-dark);
  }
}

@media (hover: none) {
  .selectOption:active{
    color: var(--color-text-dark);
    scale: 0.98;
  }
  .selectValue:active{
    color: var(--color-text-light);
  }
}
