.sliderInner{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.sliderImage{
  width: 100%;
  box-sizing: border-box;
  max-width: calc(var(--container-width) + var(--padding-x) + var(--padding-x));
  user-select: none;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
}

.sliderArrowButton{
  padding: 0.75rem;
  background-color: transparent;
  border: none;
  z-index: 100;
}

.sliderArrow{
  transition: var(--main-transition);
}

.sliderArrow path{
  fill: var(--color-text-white);
  stroke: var(--color-accent);
}

.sliderCircles{
  padding-top: clamp(0.5rem, 1vw, 0.75rem);
  display: flex;
  justify-content: center;
  gap: clamp(0.5rem, 0.83vw, 0.625rem);
}

.sliderCircle{
  width: clamp(0.5rem, 1vw, 0.75rem);
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 50%;
}

.sliderCircleActive{
  background-color: var(--color-accent);
}

@media (hover: hover) {
  .sliderArrowButtonLeft:hover > .sliderArrow path,
  .sliderArrowButtonRight:hover > .sliderArrow path{
    stroke: var(--color-red-accent);
  }
  .sliderArrowButtonLeft:hover > .sliderArrow{
    translate: -5px;
  }
  .sliderArrowButtonRight:hover > .sliderArrow{
    translate: 5px;
  }
}

@media (hover: none) {
  .sliderArrowButtonLeft:active > .sliderArrow path,
  .sliderArrowButtonRight:active > .sliderArrow path{
    stroke: var(--color-red-accent);
  }
}

@media (max-width: 75rem) {
  .sliderArrowButton{
    display: none;
  }
  .sliderImage{
    width: 100dvw;
    border-radius: 0;
  }
}

