.basketOverlay {
  position: relative;
}

.basket {
  display: flex;
  position: relative;
}

.basketIcon {
  stroke: var(--color-text-dark);
  fill: transparent;
}

.quantity {
  position: absolute;
  left: 20px;
  top: 0;
  height: 18px;
  width: 25px;
  font-size: 0.8125rem;
  line-height: 1;
  background-color: var(--color-red-accent);
  color: var(--color-text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.375rem;
  border: 1px solid var(--color-text-white);
}

.basketBalance {
  font-size: 0.875rem;
  line-height: 1;
  color: var(--color-text-dark);
}

.basketPopUp {
  border-radius: var(--main-border-radius);
  right: 0;
  position: absolute;
  padding: 1rem;
  width: 30rem;
  background-color: var(--color-text-white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  z-index: 400;
}

.basketPopUpEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.basketPopUpBorder {
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgb(0 0 0 / 15%);
}

.basketPopUpList {
  scrollbar-gutter: stable;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  height: 22rem;
  overflow-y: auto;
  padding-right: 1rem;
  scrollbar-color: var(--color-accent) transparent;
  scrollbar-width: thin;
}

.basketPopUpInformation {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basketPopUpInformationBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.basketProduct {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  gap: 0.5rem;
}

.basketProductLeft {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.basketProductRight {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-shrink: 0;
}

.basketProductPrice {
  white-space: nowrap;
}

.basketProductImage {
  width: 4.375rem;
  aspect-ratio: 1;
  border-radius: var(--main-border-radius);
  object-fit: cover;
}

.basketProductRemove {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  flex-shrink: 0;
}

.basketProductRemove:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.basketPopUpLink {
  background-color: transparent;
  color: var(--color-accent);
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border: 1px solid var(--color-accent);
  border-radius: 4rem;
}

@media (hover: hover) {
  .basketOverlay:hover .basketPopUp {
    opacity: 1;
    visibility: visible;
    user-select: auto;
  }

  .basketProductRemove:hover {
    color: var(--color-accent);
  }

  .basketLink:hover .basketIcon {
    stroke: var(--color-accent);
  }

  .basketLink:hover .basketBalance {
    color: var(--color-accent);
  }

  .basketPopUpLink:hover {
    color: var(--color-text-white);
    background-color: var(--color-accent);
  }

  .basketLink:hover .quantity {
    background-color: var(--color-accent);
  }
}

@media (hover: none) {
  .basketLink:active .basketIcon {
    stroke: var(--color-accent);
  }

  .basketLink:active .basketBalance {
    color: var(--color-accent);
  }

  .basketLink:active .quantity {
    background-color: var(--color-accent);
  }
}

.basketPopUpLink:active {
  color: var(--color-text-white);
  background-color: var(--color-accent);
  transform: scale(0.97);
}
