.headerTopLink{
  color: var(--color-text-light);
  font-weight: 500;
}

.headerTopItem{
  list-style: none;
}

.headerTopLinkMobile{
  font-size: 1.125rem;
  color: var(--color-black);
}

@media (hover: none) {
  .headerTopLinkMobile:active{
    color: var(--color-text-light);
    transform: scale(0.98);
  }
}

.headerTopItemMobile{
  line-height: 1rem;
}