.topLink{
  color: var(--color-text-light);
  font-weight: 500;
  font-size: 1rem;
}

.item{
  list-style: none;
  line-height: 1rem;
}

@media (max-width: 75rem) {
  .topLink{
    font-size: 1.125rem;
  }
}

.isBlack{
  color: var(--color-text-dark);
}


@media (hover: none) {
  .topLink:active{
    transform: scale(0.98);
    color: var(--color-text-dark);
  }

  .isBlack:active{
    color: var(--color-text-light);
  }
}

@media (hover: hover) {
  .isBlack:hover{
    color: var(--color-text-light);
  }
}