.loginBody{
  background: linear-gradient(90deg, #ffffff,#adecff);
}

.loginBody main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBlock{
  width: 37.5rem;
  min-height: 50.5rem;
  background-color: var(--color-text-white);
  box-shadow: var(--main-shadow);
  display: grid;
  grid-template-rows: auto 1fr;
  opacity: 0;
  transform: translateY(-5rem);
  transition: transform 0.5s, opacity 1s;
  will-change: transform, opacity;
}

.visible{
  opacity: 1;
  transform: translateY(0);
}

.changeBlock{
  height: clamp(4rem, 10.416vw,5rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.changeBlockFlex{
  height: clamp(4rem, 10.416vw,5rem);
  display: flex;
  background-color: var(--color-accent);
}

.changeButton{
  border: none;
  background-color: var(--color-gray-light);
  transition: all 0.5s;
  text-transform: uppercase;
  color: var(--color-black);
  font-size: clamp(1rem, 4.16vw,2rem);
}

.activeButton{
  background-color: var(--color-accent);
  box-shadow: var(--main-shadow);
  color: var(--color-text-white);
}

.loginInner{
  justify-content: flex-start;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInnerUp{
  width: 100%;
}

.logo{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.mainLink{
  font-size: 1rem;
  color: var(--color-text-light);
}

@media (max-width: 48rem) {
  .loginBlock{
    width: 100%;
    height: 100%;
    box-shadow: none;
    min-height: 0;
  }

  .loginBody{
    background: var(--color-text-white);
  }

  .loginBody main{
    height: 100vh;
  }
}

@media (hover: none) {
  .mainLink:active{
    color: var(--color-text-dark);
  }
}